<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/custom.css">
    <style>
        form {
            margin-top: 4rem;
        }
    </style>
    <title>Bilipa</title>
</head>

<body>

    <nav class="container-fluid">
        <ul>
            <a href="/">
                <li><button><strong>Bilipa</strong></button></li>
            </a>
        </ul>
        <ul>
            <a href="/">
                <li><a href="/logout">
                        Iesi din cont
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:16px;height:16px" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                    </a></li>
            </a>
        </ul>
    </nav>


    <main class="container">

        <hgroup class="container">
            <h1>Adauga incasari</h1>
            <h2>
                Adauga documentele justificative pentru incasarile primite <strong>in format pdf</strong>.
            </h2>
        </hgroup>


        <form action="/adauga-incasari" method="POST" enctype="multipart/form-data">

            <article>

                <h5 style="color: var(--secondary);">Adauga incasare</h5>


                <div class="grid">

                    <label for="serie">
                        Serie factura
                        <input style="text-transform:uppercase" type="text" id="serie" name="serie" value="<% serie %>"
                            placeholder="INV" required>
                    </label>

                    <label for="numar">
                        Numar factura
                        <input type="number" id="numar" min=0 name="numar" value="<% numar + 1 %>" placeholder="123"
                            required>
                    </label>

                </div>


                <div class="grid">

                    <label for="suma_incasata">
                        Suma incasata (RON)
                        <input type="number" id="suma_incasata" step=any name="suma_incasata" placeholder="5000"
                            required>
                    </label>

                    <label for="data">
                        Data factura
                        <input type="date" id="data" name="data" required>
                    </label>

                </div>

                <label for="file">
                    Incarca factura
                    <input type="file" id="file" name="fisier" required>
                </label>

                <button type="submit">ADAUGA</button>


            </article>
        </form>


    </main>

</body>

</html>