<style>
    .none {
        display: none;
    }

    #tabel-incasari {
        margin-bottom: 1rem;
        margin-top: 4rem;
        padding: 1rem;
        max-height: 600px;
        overflow: auto;
    }

    .download {
        display: flex;
        gap: 2rem;
        float: right;
    }

    tr td {
        width: 1%;
        white-space: nowrap;
    }

    .bg-whitesmoke {
        background: whitesmoke;
    }
</style>


<main class="container-fluid">

    <hgroup class="container">
        <h1>Adauga declaratii/documente</h1>
        <h2>
            Adauga declaratiile depuse la ANAF si dovezile de plata impozite sau alte documente.
        </h2>
    </hgroup>


    <form class="container" id="adauga-declaratii" action="/adauga-declaratii" method="POST"
        enctype="multipart/form-data">

        <article>

            <h5 style="color: var(--secondary);">Adauga declaratii/documente</h5>

            <div class="grid">

                <label for="data">
                    Tip Document
                    <input list="tipdoc" type="text" id="tip_document" name="tip_document" required>

                    <datalist id="tipdoc">
                        <option value="Declaratie unica (212)"></option>
                        <option value="Dovada incarcare Declaratie 212"></option>
                        <option value="Dovada plata impozite"></option>
                    </datalist>

                </label>

                <label for="data">
                    Data document
                    <input type="date" id="data" name="data" required>
                    <small></small>
                </label>


                <label class="none" id="declaratie_label_year" for="declaratie_pentru_anul">
                    Declaratie pentru anul
                    <input list="aniinregistrati" type="number" id="declaratie_pentru_anul"
                        name="declaratie_pentru_anul">

                    <datalist id="aniinregistrati">
                        {{range .AniInregistrati}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </datalist>

                </label>

            </div>

            <div class="grid">

                <label class="none" id="plata_anaf_label_sum" for="plata_anaf">
                    Suma Platita catre ANAF
                    <input type="number" id="plata_anaf" name="plata_anaf" value="0">
                </label>

                <label class="none" id="plata_anaf_label_year" for="plata_pentru_anul">
                    Plata pentru anul
                    <input list="regyears" type="number" id="plata_pentru_anul" name="plata_pentru_anul">

                    <datalist id="regyears">
                        {{range .AniInregistrati}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </datalist>

                </label>

            </div>


            <label for="file">
                Incarca document
                <input type="file" id="file" name="fisier" required>
            </label>

            <button type="submit">ADAUGA</button>

        </article>

    </form>


    <article id="tabel-declaratii">
        <h4 style="color: var(--secondary);">Tabel Declaratii</h4>
        <table id="date-declaratii">

            <thead>
                <tr class="bg-whitesmoke">
                    <th scope="col">
                        Data
                    </th>
                    <th scope="col">
                        Tip Document
                    </th>
                    <th scope="col">
                        Descarca Fisier
                    </th>
                    <th scope="col">
                        Sterge Fisier
                    </th>
                </tr>
            </thead>

            <tbody>
                {{range .Declaratii}}
                <tr>
                    <td>
                        {{.Data}}
                    </td>
                    <td>
                        {{.TipDocument}}
                    </td>
                    <td>
                        <a href="/download-fisier?path={{.CaleDocument}}">Descarca</a>
                    </td>
                    <td>
                        <a style="color:var(--del-color);" href="/sterge-fisier?path={{.CaleDocument}}">Sterge</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </article>

</main>


<script>

    window.onload = event => {

        let tipDoc = document.getElementById("tip_document");
        let dataDoc = document.getElementById("data");
        let plata_anaf_label_sum = document.getElementById("plata_anaf_label_sum");
        let plata_anaf_label_year = document.getElementById("plata_anaf_label_year");
        let declaratie_label_year = document.getElementById("declaratie_label_year");
        let declaratie_pentru_anul = document.getElementById("declaratie_pentru_anul");
        let plata_pentru_anul = document.getElementById("plata_pentru_anul");


        declaratie_pentru_anul.addEventListener("change", event => {
            plata_pentru_anul.value = declaratie_pentru_anul.value;
        }, false);

        plata_pentru_anul.addEventListener("change", event => {
            declaratie_pentru_anul.value = plata_pentru_anul.value;
        }, false);

        dataDoc.addEventListener("change", event => {
            let currentYear = dataDoc.value.slice(0, 4);
            let previousYear = String(parseInt(currentYear) - 1);

            declaratie_pentru_anul.value = currentYear;
            plata_pentru_anul.value = currentYear;

            if (tipDoc.value == "Dovada plata impozite") {
                declaratie_pentru_anul.value = previousYear;
                plata_pentru_anul.value = previousYear;
            } else {
                declaratie_pentru_anul.value = currentYear;
                plata_pentru_anul.value = currentYear;
            }

        }, false);

        tipDoc.addEventListener("change", event => {
            if (event.target.value == "Dovada plata impozite") {
                plata_anaf_label_sum.classList.remove("none");
                plata_anaf_label_year.classList.remove("none");
            }
            else if (event.target.value == "Declaratie unica (212)" || event.target.value == "Dovada incarcare Declaratie 212") {
                declaratie_label_year.classList.remove("none");
            }
            else {
                plata_anaf_label_sum.classList.add("none");
                plata_anaf_label_year.classList.add("none");
                declaratie_label_year.classList.add("none");
            }
        }, false);

    }

</script>