<main class="container">


    <hgroup class="container">
        <h1>Declaratie 212</h1>
        <h2>
            Aici poti vedea un model de Declaratie 212 care este completat automat din datele introduse de tine
            pana acum.
        </h2>
    </hgroup>

    <div>
        <select id="selected-year">
            {{range .AniInregistrati}}
            <option id="{{.}}" value="?anul={{.}}">Declaratie pentru anul {{.}}</option>
            {{end}}
        </select>
    </div>





</main>



<script>


    window.addEventListener("DOMContentLoaded", (event) => {

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const anul = urlParams.get("anul");

        let selectedYear = document.getElementById("selected-year")

        if (anul) {
            document.getElementById(anul).setAttribute("selected", "")
        }

        selectedYear.addEventListener("click", event => {

            let url = String(document.location).split("?")[0] + selectedYear.value;

            const link = document.createElement('a');
            link.href = url;
            link.click();
        }, false);

    }, false);


</script>