<style>
    .none {
        display: none;
    }
</style>


<main class="container">

    <hgroup class="container">
        <h1>Adauga declaratii/documente</h1>
        <h2>
            Adauga declaratiile depuse la ANAF si dovezile de plata impozite.
        </h2>
    </hgroup>


    <form action="/adauga-declaratii" method="POST" enctype="multipart/form-data">

        <article>

            <h5 style="color: var(--secondary);">Adauga declaratii/documente</h5>

            <div class="grid">

                <label for="data">
                    Tip Document
                    <input list="tipdoc" type="text" id="tip_document" name="tip_document" required>

                    <datalist id="tipdoc">
                        <option value="Declaratie unica (212)"></option>
                        <option value="Dovada plata impozite"></option>
                        <option value="C168"></option>
                        <option value="D112Contrib"></option>
                        <option value="Duplicat Recipisa"></option>
                        <option value="Duplicat declaratie unica"></option>
                        <option value="InterogariBanci"></option>
                        <option value="Istoric Spatiu Virtual"></option>
                        <option value="Istoric declaratii PF"></option>
                        <option value="Nota obligatiilor de plata"></option>
                        <option value="Obligatii de plata"></option>
                        <option value="Registru intrari-iesiri"></option>
                        <option value="Venituri Formular Banca"></option>
                    </datalist>

                </label>

                <label for="data">
                    Data document
                    <input type="date" id="data" name="data" required>
                    <small></small>
                </label>
            </div>

            <div class="grid">

                <label class="none" id="plata_anaf_label_sum" for="plata_anaf">
                    Suma Platita catre ANAF
                    <input type="number" id="plata_anaf" name="plata_anaf" value="0" required>
                </label>

                <label class="none" id="plata_anaf_label_year" for="plata_pentru_anul">
                    Plata pentru anul
                    <select name="plata_pentru_anul" id="plata_pentru_anul">
                        {{range .AniInregistrati}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </label>

            </div>


            <label for="file">
                Incarca document
                <input type="file" id="file" name="fisier" required>
            </label>

            <button type="submit">ADAUGA</button>

        </article>

    </form>

</main>


<script>

    window.onload = event => {
        let tipDoc = document.getElementById("tip_document");
        let plata_anaf_label_sum = document.getElementById("plata_anaf_label_sum");
        let plata_anaf_label_year = document.getElementById("plata_anaf_label_year");

        tipDoc.addEventListener("change", event => {
            if (event.target.value == "Dovada plata impozite") {
                plata_anaf_label_sum.classList.remove("none");
                plata_anaf_label_year.classList.remove("none");
            } else {
                plata_anaf_label_sum.classList.add("none");
                plata_anaf_label_year.classList.add("none");
            }
        }, false);

    }

</script>