<main class="container">


    <hgroup class="container">
        <h1>Descarca datele contului</h1>
        <h2>
            Aici poti descarca datele contului pentru anul selectat intr-un zip.
        </h2>
    </hgroup>

    <form action="/download-date-cont" method="POST" enctype="multipart/form-data">

        <div>
            <select id="selected-year" name="anul">
                {{range .AniInregistrati}}
                <option id="{{.}}" value="{{.}}">Datele pentru anul {{.}}</option>
                {{end}}
            </select>
        </div>

        <button type="submit">Descarca</button>

    </form>



</main>