<main class="container">

    <hgroup class="container">
        <h1>Creeaza o factura</h1>
        <h2>
            Creeaza o factura in format pdf pentru a o trimite catre client.
            Facturile create sunt automat adaugate in Registru Jurnal.
            Datele tale si cele ale clientilor vor fi salvate si pentru urmatoarele facturi.
            Numarul facturii va fi actualizat automat cu +1 de la ultima factura.
        </h2>
    </hgroup>

    <form id="factura-form">

        <article>

            <h5 style="color:var(--secondary);">Factura</h5>

            <div class="grid">

                <label for="serie">
                    Serie
                    <input style="text-transform:uppercase" type="text" id="serie" name="serie" placeholder="INV0001"
                        required>
                </label>

                <label for="numar">
                    Numar factura
                    <input type="number" id="numar" min=0 name="numar" placeholder="123" required>
                </label>

                <div id="data_container">

                </div>

            </div>
            <!-- 
            <div class="grid">


                <label for="moneda">
                    Moneda
                    <input list="monezi" style="text-transform:uppercase" type="text" id="moneda" name="moneda"
                        value="RON" placeholder="RON" required>

                    <datalist id="monezi">
                        <option value="RON">RON</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="CHF">CHF</option>
                    </datalist>
                </label>

                <label for="limba">
                    Limba
                    <select id="limba" name="limba" required>
                        <option value="RO" selected>RO</option>
                        <option value="EN">EN</option>
                        <option value="FR">FR</option>
                    </select>
                </label>

            </div> -->


            <div class="grid" style="margin-top: 2rem;">

                <div>
                    <h5 style="color:var(--secondary);">Client</h5>

                    <div id="numeClientContainer">

                    </div>

                    <label for="nrRegComClient">
                        Nr.Reg.Com.
                        <input style="text-transform:uppercase" type="text" id="nrRegComClient" name="nrRegComClient"
                            placeholder="J34/4838/2018">
                    </label>

                    <label for="cifClient">
                        CIF/VAT
                        <input style="text-transform:uppercase" type="text" id="cifClient" name="cifClient"
                            placeholder="65811429">
                    </label>

                    <label for="adresaClient">
                        Adresa
                        <input style="text-transform:uppercase" type="text" maxlength="80" id="adresaClient"
                            name="adresaClient" placeholder="SOS. REGIONALA, NR.1 MUN. BRASOV" required>
                    </label>

                    <label for="telefonClient">
                        Telefon
                        <input style="text-transform:uppercase" type="text" id="telefonClient" name="telefonClient"
                            placeholder="0789878789">
                    </label>

                    <label for="emailClient">
                        Email
                        <input style="text-transform:lowercase" type="email" id="emailClient" name="emailClient"
                            placeholder="alexv@gmail.com">
                    </label>

                    <label for="ibanClient">
                        IBAN
                        <input style="text-transform:uppercase" type="text" maxlength="34" id="ibanClient"
                            name="ibanClient" placeholder="RO49AAAA1B31007593840000">
                    </label>

                </div>


                <div>
                    <h5 style="color:var(--secondary);">Furnizor</h5>

                    <label for="numeFurnizor">
                        Nume
                        <input style="text-transform:uppercase" type="text" id="numeFurnizor" name="numeFurnizor"
                            placeholder="Alex Valentin PFA" required>
                    </label>

                    <label for="nrRegComFurnizor">
                        Nr.Reg.Com.
                        <input style="text-transform:uppercase" type="text" id="nrRegComFurnizor"
                            name="nrRegComFurnizor" placeholder="F34/4838/2018" required>
                    </label>

                    <label for="cifFurnizor">
                        CIF/VAT
                        <input style="text-transform:uppercase" type="text" id="cifFurnizor" name="cifFurnizor"
                            placeholder="45611321" required>
                    </label>

                    <label for="adresaFurnizor">
                        Adresa
                        <input style="text-transform:uppercase" type="text" maxlength="80" id="adresaFurnizor"
                            value="testFurnizor" name="adresaFurnizor"
                            placeholder="IASI, SOS.NATIONALA, NR.111, BL.A1, SC.A, AP.1" required>
                    </label>

                    <label for="telefonFurnizor">
                        Telefon
                        <input style="text-transform:uppercase" type="text" id="telefonFurnizor" value="testFurnizor"
                            name="telefonFurnizor" placeholder="0789878789" required>
                    </label>

                    <label for="emailFurnizor">
                        Email
                        <input style="text-transform:lowercase" type="email" id="emailFurnizor" name="emailFurnizor"
                            value="TODO@gmail.com" placeholder="alexv@gmail.com" required>
                    </label>

                    <label for="ibanFurnizor">
                        IBAN
                        <input style="text-transform:uppercase" type="text" maxlength="34" id="ibanFurnizor"
                            name="ibanFurnizor" placeholder="RO49AAAA1B31007593840000" required>
                    </label>

                </div>


            </div>


            <div>
                <label for="nota">
                    Observatii (optional)
                    <input type="text" id="nota" name="nota">
                </label>
            </div>


            <h5 style="color:var(--secondary);margin-top:2rem;">Produse/Servicii</h5>

            <div id="billables">
                <!-- Mithril Magic -->
            </div>

            <button id="creeaza-factura" style="margin-top:6rem;" type="submit">VEZI FACTURA</button>

        </article>

    </form>

</main>


<script src="/mithril.js"></script>
<script src="/creeaza-factura.js"></script>

<script>

    mountComponents();

    document.getElementById("factura-form").addEventListener(
        "submit",
        async event => {
            event.preventDefault();

            let formData = new FormData(event.target);
            formData = Object.fromEntries(formData);

            let factura = proceseazaRawData(formData);

            console.log("factura", factura);

            let extraData = {
                serie: factura.serie,
                numar: parseInt(factura.numar),
                data: factura.data,
                suma: parseFloat(factura.totalFactura),
            }

            let dateFurnizor = { ...factura.furnizor, ...{ is_client: false }, ...extraData };
            let dateClient = { ...factura.client, ...{ is_client: true }, ...extraData };

            console.log("dateFurnizor", dateFurnizor);
            console.log("dateClient", dateClient);

            m.request({
                method: "POST",
                url: "/clienti",
                body: dateFurnizor
            }).then(function (result) {
                console.log(result);
            });


            m.request({
                method: "POST",
                url: "/clienti",
                body: dateClient
            }).then(function (result) {
                console.log(result);
            });

            mountComponents();

            let facturaStr = encodeURIComponent(JSON.stringify(factura));

            let link = document.createElement("a");
            link.href = "http://localhost:3000/factura_pdf_ro.html?data=" + facturaStr;
            link.target = "_blank";
            link.click();

        }
    );

</script>