<style>
    #tabel-incasari {
        margin-bottom: 1rem;
        margin-top: 4rem;
        padding: 1rem;
        max-height: 600px;
        overflow: auto;
    }

    .download {
        display: flex;
        gap: 2rem;
        float: right;
    }

    tr td {
        width: 1%;
        white-space: nowrap;
    }

    .bg-whitesmoke {
        background: whitesmoke;
    }
</style>


<main class="container-fluid">

    <hgroup class="container">
        <h1>Adauga incasari</h1>
        <h2>
            Adauga documentele justificative pentru incasarile primite <strong>in format pdf/png/jpg</strong>.
        </h2>
    </hgroup>


    <form class="container" action="/adauga-incasari" method="POST" enctype="multipart/form-data">

        <article>

            <h5 style="color: var(--secondary);">Adauga incasare</h5>


            <div class="grid">

                <div class="grid">

                    <label for="serie">
                        Serie factura
                        <input style="text-transform:uppercase" type="text" id="serie" name="serie"
                            value="{{.UltimaSerie}}" placeholder="INV" required>
                    </label>

                    <label for="numar">
                        Numar factura
                        <input type="number" id="numar" min=0 name="numar" value="{{.UltimulNumar}}" placeholder="123"
                            required>
                    </label>

                </div>


                <label for="tip_tranzactie">Tip Tranzactie
                    <select id="tip_tranzactie" name="tip_tranzactie" required>
                        <option value="BANCAR" selected>BANCAR</option>
                        <option value="NUMERAR">NUMERAR</option>
                    </select>
                </label>

            </div>


            <div class="grid">

                <label for="suma_incasata">
                    Suma incasata (RON)
                    <input type="number" id="suma_incasata" step=any name="suma_incasata" placeholder="5000" required>
                </label>

                <label for="data">
                    Data factura
                    <input type="date" id="data" name="data" required>
                </label>

            </div>

            <label for="file">
                Incarca factura
                <input type="file" id="file" name="fisier" required>
            </label>

            <button type="submit">ADAUGA</button>

        </article>
    </form>



    <article id="tabel-incasari">
        <h4 style="color: var(--secondary);">Tabel Incasari {{ .Anul }}</h4>
        <table>

            <thead>
                <tr class="bg-whitesmoke">
                    <th scope="col">
                        Data
                    </th>
                    <th scope="col">
                        Serie
                    </th>
                    <th scope="col">
                        Numar
                    </th>
                    <th scope="col">
                        Suma Incasata
                    </th>
                    <th scope="col">
                        Tip Tranzactie
                    </th>
                    <th scope="col">
                        Descarca Fisier
                    </th>
                    <th scope="col">
                        Sterge Fisier
                    </th>
                </tr>
            </thead>

            <tbody>
                {{range .Incasari}}
                <tr>
                    <td>
                        {{.Data}}
                    </td>
                    <td>
                        {{.Serie}}
                    </td>
                    <td>
                        {{.Numar}}
                    </td>
                    <td>
                        {{ printf "%.2f" .SumaIncasata}}
                    </td>
                    <td>
                        {{.TipTranzactie}}
                    </td>
                    <td>
                        <a href="/download-fisier?path={{.CaleFactura}}">Descarca</a>
                    </td>
                    <td>
                        <a style="color:var(--del-color);" href="/sterge-fisier?path={{.CaleFactura}}">Sterge</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </article>

</main>