<main class="container-fluid">

    <hgroup class="container">
        <h1>Adauga incasari din alte surse</h1>
        <h2>
            Adauga documentele justificative pentru incasarile primite in alte surse decat cele din activitatea
            principala.
        </h2>
    </hgroup>


    <form class="container" action="/adauga-incasari-extra" method="POST" enctype="multipart/form-data">

        <article>

            <h5 style="color: var(--secondary);">Adauga incasare din alte surse</h5>

            <div class="grid">

                <label for="sursa_venit">
                    Sursa venitului
                    <input list="tipvenit" type="text" id="sursa_venit" name="sursa_venit" required>

                    <datalist id="tipvenit">
                        <option value="Venit din alte surse"></option>
                        <option value="Venit din cedarea folosintei bunurilor"></option>
                        <option value="Venit si/sau castig din investitii"></option>
                        <option value="Venit din drepturi de proprietate intelectuala"></option>
                        <option value="Venit din activitati agricole, silvicultura si piscicultura"></option>
                        <option
                            value="Venit distribuit din asociere cu persoane juridice, contribuabili potrivit prevederilor titlului II, titlului III sau Legii nr.170/2016">
                        </option>
                    </datalist>

                </label>

                <label for="tip_tranzactie">Tip Tranzactie
                    <select id="tip_tranzactie" name="tip_tranzactie" required>
                        <option value="BANCAR" selected>BANCAR</option>
                        <option value="NUMERAR">NUMERAR</option>
                    </select>
                </label>

            </div>


            <div class="grid">

                <label for="suma_incasata">
                    Suma incasata (RON)
                    <input type="number" id="suma_incasata" step=any name="suma_incasata" placeholder="5000" required>
                </label>

                <label for="data">
                    Data tranzactiei
                    <input type="date" id="data" name="data" required>
                </label>

            </div>

            <label for="file">
                Incarca document
                <input type="file" id="file" name="fisier" required>
            </label>

            <button type="submit">ADAUGA</button>

        </article>
    </form>



</main>