<main class="container-fluid">

    <hgroup class="container">
        <h1>PFASimplu</h1>
        <h2>
            Aplicatie pentru simplificarea gestiunii contabilitatii facuta in partida simpla.
        </h2>
    </hgroup>

    <div class="grid">


        <article class="article-grid">
            <hgroup>

                <ol>

                    <li>
                        <a href="https://www.anaf.ro/CompletareFactura/faces/factura/informatiigenerale.xhtml"
                            target="_blank">
                            <strong>Creeaza Factura in format XML</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.anaf.ro/uploadxml/" target="_blank">
                            <strong>Creeaza Factura PDF din Factura XML</strong>
                        </a>
                    </li>

                </ol>

                <p>
                    Primul pas este creearea facturii in format XML apoi din XML in PDF apoi creat zip din fisierele
                    create si adaugat in sectiunea "Adauga incasari".
                    <a href="https://facturis-online.ro/e-factura/cum-sa-emiteti-singur-facturi-electronice-in-sistemul-anaf-ro-e-factura.html"
                        target="_blank">
                        Tutorial e-factura aici.
                    </a>
                    <br>
                    <a href="/factura">
                        Poti face o factura pdf simpla click aici
                    </a>
                </p>

            </hgroup>

        </article>


        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/registre-contabile">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Vezi Registrele contabile
                    </a>
                </h4>
                <h5>
                    Vezi registrele contabile generate automat din actiunile facute de tine in aplicatie.
                </h5>
            </hgroup>
        </article>

    </div>


    <div class="grid">

        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/adauga-incasari">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Adauga incasari
                    </a>
                </h4>
                <h5>
                    Adauga documentele justificative pentru incasarile primite.
                    Zip-ul care contine factura in format XML/PDF.
                </h5>
            </hgroup>
        </article>


        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/adauga-cheltuieli">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Adauga cheltuieli
                    </a>
                </h4>
                <h5>
                    Adauga documentele care justifica cheltuielile deductibile facute.
                </h5>
            </hgroup>
        </article>

    </div>


    <div class="grid">


        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/adauga-incasari-extra">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Adauga incasari din alte surse
                    </a>
                </h4>
                <h5>
                    Adauga documentele justificative pentru incasarile primite in alte surse decat cele din activitatea
                    principala.
                </h5>
            </hgroup>
        </article>



        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/adauga-declaratii">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Adauga declaratii/documente
                    </a>
                </h4>
                <h5>
                    Adauga declaratiile depuse la ANAF si dovezile de plata impozite sau alte documente.
                </h5>
            </hgroup>
        </article>



    </div>


    <div class="grid">

        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/scoate-din-inventar">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Scoate din inventar obiecte/mijloce fixe
                    </a>
                </h4>
                <h5>
                    Scoate din Registru inventar obiecte de inventar/mijloce fixe
                    prin adaugarea documentelor justificative de casare sau vanzare.
                </h5>
            </hgroup>
        </article>


        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/download-date-cont">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Descarca datele contului
                    </a>
                </h4>
                <h5>
                    Descarca intr-un zip datele contului tau
                </h5>
            </hgroup>
        </article>


        <!-- 
        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/declaratie-anaf">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Vezi Declaratie 212 completata (in curand)
                    </a>
                </h4>
                <h5>
                    Aici poti vedea un model de Declaratie 212 care este completata automat din datele introduse de tine
                    pana acum.
                </h5>
            </hgroup>
        </article> -->

    </div>


    <div class="grid">

        <article class="article-grid">
            <hgroup>
                <h4>
                    <a href="/actualizare-aplicatie">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:22px;height:22px;" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg>
                        Actualizeaza aplicatia
                    </a>
                </h4>
                <h5>
                    Verifica daca a mai aparut o versiune noua a aplicatiei.
                    O data pe an e suficient.
                </h5>
            </hgroup>
        </article>

    </div>


</main>