<main class="container">


    <form action="/login" method="POST" enctype="multipart/form-data">
        <article>

            <h1>Autentificare</h1>

            <label for="email">
                Email
                <input style="text-transform:lowercase" type="text" id="email" name="email"
                    placeholder="rpetru@gmail.com" required>
            </label>

            <label for="parola">
                Parola
                <input type="password" id="parola" name="parola" placeholder="********" required>
            </label>

            <button type="submit">INTRA IN CONT</button>

            <a href="/register"><small>Nu am un cont creat</small></a>

        </article>

    </form>

</main>