<style>
  #tables>article {
    margin-bottom: 1rem;
    margin-top: 4rem;
    padding: 1rem;
    max-height: 600px;
    overflow: auto;
  }

  .download {
    display: flex;
    gap: 2rem;
    float: right;
  }

  tr td {
    width: 1%;
    white-space: nowrap;
  }

  .bg-whitesmoke {
    background: whitesmoke;
  }


  .none {
    display: none;
  }

  #incasarivscheltuieli {
    overflow-y: auto;
    margin: 0 auto;
  }
</style>


<main class="container-fluid">

  <hgroup class="container">
    <h1>Registre contabile</h1>
    <h2>
      Vezi registrele contabile generate automat din actiunile facute de tine in aplicatie.
    </h2>
  </hgroup>

  <div class="container">

    <div class="grid">

      <select id="selected-year">
        {{range .AniInregistrati}}
        <option id="{{.}}" value="?anul={{.}}">Rapoarte pentru anul {{.}}</option>
        {{end}}
      </select>

      <select id="display-reports">
        <option>Arata toate rapoartele</option>
        <option>Arata doar registrele contabile</option>
      </select>

    </div>

    {{if .ShowProfitAnual}}
    <div id="total-profit" class="grid">

      <article class="article-grid">
        <h4 style="color: var(--secondary)">Total Profit Anual</h4>
        <h1 style="color: green">{{.ProfitAnual}} RON</h1>
      </article>

      <article class="article-grid">
        <h4 style="color: var(--secondary)">Procent Profit Anual</h4>
        <h1 style="color: green">{{.ProfitAnualProcent}} %</h1>
      </article>

    </div>

    {{else}}

    <div id="total-profit" class="grid">
      <small style="color: var(--secondary)">
        Adauga un sold intermediar pentru anul curent/incheiat pentru a vedea profitul total.
      </small>
    </div>

    {{end}}

    <div id="total-incasari" class="grid">

      <article class="article-grid">
        <h4 style="color: var(--secondary)">Total Incasari (Brut)</h4>
        <h1 style="color: green">{{.TotalIncasariBrut}} RON</h1>
      </article>

      <article class="article-grid">
        <h4 style="color: var(--secondary)">Total Incasari (Net)</h4>
        <h1 style="color: green;">{{.TotalIncasariNet}} RON</h1>
      </article>

    </div>

    <div id="total-cheltuieli" class="grid">

      <article class="article-grid">
        <h4 style="color: var(--secondary)">Total Cheltuieli Deductibile</h4>
        <h1 style="color: indianred;">
          {{.TotalCheltuieliDeductibile}} RON
        </h1>
      </article>

      <article class="article-grid">
        <h4 style="color: var(--secondary)">Total Plati Ramase Catre Stat</h4>
        <h1 style="color: indianred">{{.TotalPlatiCatreStat}} RON
          <small style="color: var(--secondary);font-size:16px;display:block;">
            CAS: {{.PlatiCatreStat.CASPensie}}RON
            <br />
            CASS: {{.PlatiCatreStat.CASSSanatate}}RON
            <br />
            IMPOZIT: {{.PlatiCatreStat.ImpozitVenit}}RON
            <br />
            TOTAL: {{.PlatiCatreStat.Total}}RON
          </small>
        </h1>

      </article>

    </div>

  </div>


  <div class="container-fluid">
    <div id="incasarivscheltuieli">
      <!-- Plotly -->
    </div>
  </div>


  <div id="tables" class="container-fluid">

    <article id="tabel-incasari">
      <h4 style="color: var(--secondary);">Tabel Incasari</h4>
      <table id="date-incasari">

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Serie
            </th>
            <th scope="col">
              Numar
            </th>
            <th scope="col">
              Suma Incasata
            </th>
            <th scope="col">
              Tip Tranzactie
            </th>
            <th scope="col">
              Descarca Fisier
            </th>
            <th scope="col">
              Sterge Fisier
            </th>
          </tr>
        </thead>

        <tbody>
          {{range .Incasari}}
          <tr>
            <td>
              {{.Data}}
            </td>
            <td>
              {{.Serie}}
            </td>
            <td>
              {{.Numar}}
            </td>
            <td>
              {{ printf "%.2f" .SumaIncasata}}
            </td>
            <td>
              {{.TipTranzactie}}
            </td>
            <td>
              <a href="/download-fisier?path={{.CaleFactura}}">Descarca</a>
            </td>
            <td>
              <a style="color:var(--del-color);" href="/sterge-fisier?path={{.CaleFactura}}">Sterge</a>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div id="tabel-incasari-download" class="download">
      <a href="/download-fisier?path={{.CaleIncasariCSV}}">Descarca CSV</a>
    </div>


    <article id="tabel-cheltuieli">
      <h4 style="color: var(--secondary);">Tabel Cheltuieli</h4>
      <table id="date-cheltuieli">

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Nume Cheltuiala
            </th>
            <th scope="col">
              Suma Cheltuita
            </th>
            <th scope="col">
              Tip Tranzactie
            </th>
            <th scope="col">
              Obiect Inventar
            </th>
            <th scope="col">
              Mijloc Fix
            </th>
            <th scope="col">
              Descarca Fisier
            </th>
            <th scope="col">
              Sterge Fisier
            </th>
            <th scope="col">
              Ani Amortizare
            </th>
            <th scope="col">
              Data Punerii In Functiune
            </th>
            <th scope="col">
              Cod Clasificare
            </th>
            <th scope="col">
              Nr Inventar
            </th>
            <th scope="col">
              Fel Serie Numar Data Document
            </th>
            <th scope="col">
              Valoare Inventar
            </th>
            <th scope="col">
              Amortizare Lunara
            </th>
            <th scope="col">
              Denumire Si Caracteristici
            </th>
            <th scope="col">
              Accesorii
            </th>
            <th scope="col">
              Grupa
            </th>
            <th scope="col">
              Anul Darii In Folosinta
            </th>
            <th scope="col">
              Luna Darii In Folosinta
            </th>
            <th scope="col">
              Anul Amortizarii Complete
            </th>
            <th scope="col">
              Luna Amortizarii Complete
            </th>
            <th scope="col">
              Durata Normala De Functionare
            </th>
            <th scope="col">
              Cota De Amortizare
            </th>
          </tr>
        </thead>

        <tbody>
          {{range .Cheltuieli}}
          <tr>
            <td>
              {{.Data}}
            </td>
            <td>
              {{.NumeCheltuiala}}
            </td>
            <td>
              {{ printf "%.2f" .SumaCheltuita}}
            </td>
            <td>
              {{.TipTranzactie}}
            </td>
            <td>
              {{if .ObiectInventar}}
              Da
              {{else}}
              Nu
              {{end}}
            </td>
            <td>
              {{if .MijlocFix}}
              Da
              {{else}}
              Nu
              {{end}}
            </td>
            <td>
              <a href="/download-fisier?path={{.CaleCheltuiala}}">Descarca</a>
            </td>
            <td>
              <a style="color:var(--del-color);" href="/sterge-fisier?path={{.CaleCheltuiala}}">Sterge</a>
            </td>
            <td>
              {{.DetaliiMijlocFix.AniAmortizare}}
            </td>
            <td>
              {{.DetaliiMijlocFix.DataPuneriiInFunctiune}}
            </td>
            <td>
              {{.DetaliiMijlocFix.CodClasificare}}
            </td>
            <td>
              {{.DetaliiMijlocFix.NrInventar}}
            </td>
            <td>
              {{.DetaliiMijlocFix.FelSerieNumarDataDocument}}
            </td>
            <td>
              {{ printf "%.2f" .DetaliiMijlocFix.ValoareInventar}}
            </td>
            <td>
              {{ printf "%.2f" .DetaliiMijlocFix.AmortizareLunara}}
            </td>
            <td>
              {{.DetaliiMijlocFix.DenumireSiCaracteristici}}
            </td>
            <td>
              {{.DetaliiMijlocFix.Accesorii}}
            </td>
            <td>
              {{.DetaliiMijlocFix.Grupa}}
            </td>
            <td>
              {{.DetaliiMijlocFix.AnulDariiInFolosinta}}
            </td>
            <td>
              {{.DetaliiMijlocFix.LunaDariiInFolosinta}}
            </td>
            <td>
              {{.DetaliiMijlocFix.AnulAmortizariiComplete}}
            </td>
            <td>
              {{.DetaliiMijlocFix.LunaAmortizariiComplete}}
            </td>
            <td>
              {{.DetaliiMijlocFix.DurataNormalaDeFunctionare}}
            </td>
            <td>
              {{ printf "%.2f" .DetaliiMijlocFix.CotaDeAmortizare}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div id="tabel-cheltuieli-download" class="download">
      <a href="/download-fisier?path={{.CaleCheltuieliCSV}}">Descarca CSV</a>
    </div>


    <article id="tabel-declaratii">
      <h4 style="color: var(--secondary);">Tabel Declaratii</h4>
      <table id="date-declaratii">

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Tip Document
            </th>
            <th scope="col">
              Descarca Fisier
            </th>
            <th scope="col">
              Sterge Fisier
            </th>
          </tr>
        </thead>

        <tbody>
          {{range .Declaratii}}
          <tr>
            <td>
              {{.Data}}
            </td>
            <td>
              {{.TipDocument}}
            </td>
            <td>
              <a href="/download-fisier?path={{.CaleDocument}}">Descarca</a>
            </td>
            <td>
              <a style="color:var(--del-color);" href="/sterge-fisier?path={{.CaleDocument}}">Sterge</a>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div id="tabel-declaratii-download" class="download">
    </div>


    <article id="tabel-registru-jurnal">
      <h4 style="color: var(--secondary);">Registru jurnal</h4>
      <table id="date-registru-jurnal">
        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Nr.Crt.
            </th>
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Documentul (fel, numar)
            </th>
            <th scope="col">
              Felul operatiunii (explicatii)
            </th>
            <th scope="col">
              Incasari Numerar
            </th>
            <th scope="col">
              Incasari Banca
            </th>
            <th scope="col">
              Plati Numerar
            </th>
            <th scope="col">
              Plati Banca
            </th>
          </tr>

        </thead>

        <tbody>
          {{range .RegistruJurnal}}
          <tr>
            <td>
              {{.NrCrt}}
            </td>
            <td>
              {{.Data}}
            </td>
            <td>
              {{if .Total }}
              <i>
                {{.DocumentFelNr}}
              </i>
              {{ else }}
              <a href="/download-fisier?path={{.DocumentFelNr}}">Descarca document justificativ</a>
              {{ end }}
            </td>
            <td>
              {{if .Total }}
              <i>
                {{.FelulOperatiuniiExplicatii}}
              </i>
              {{ else }}
              {{.FelulOperatiuniiExplicatii}}
              {{ end }}
            </td>
            <td>
              {{ printf "%.2f" .IncasariNumerar}}
            </td>
            <td>
              {{ printf "%.2f" .IncasariBanca}}
            </td>
            <td>
              {{ printf "%.2f" .PlatiNumerar}}
            </td>
            <td>
              {{ printf "%.2f" .PlatiBanca}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>


    </article>

    <div class="download">
      <a href="/download-fisier?path={{.CaleRegistruJurnalCSV}}">Descarca CSV</a>
    </div>


    <article id="tabel-registru-fiscal">
      <h4 style="color: var(--secondary);">Registru fiscal</h4>
      <table id="date-registru-fiscal">

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Nr.Crt.
            </th>
            <th scope="col">
              Elemente de calcul pentru stabilirea venitului net annual/pierderii nete anuale
            </th>
            <th scope="col">
              Valoare (RON)
            </th>
            <th scope="col">
              Anul
            </th>
          </tr>

        </thead>

        <tbody>
          {{range .RegistruFiscal}}
          <tr>
            <td>
              {{.NrCrt}}
            </td>
            <td>
              {{.ElemDeCalculVenit}}
            </td>
            <td>
              {{ printf "%.2f" .ValoareRon}}
            </td>
            <td>
              {{.Anul}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div class="download">
      <a href="/download-fisier?path={{.CaleRegistruFiscalCSV}}">Descarca CSV</a>
    </div>



    <article id="tabel-registru-inventar">
      <h4 style="color: var(--secondary);">Registru inventar</h4>
      <table id="date-registru-inventar">

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Nr.Crt.
            </th>
            <th scope="col">
              Denumirea elementelor inventariate
            </th>
            <th scope="col">
              Valoarea de inventar (RON)
            </th>
            <th scope="col">
              Data
            </th>
          </tr>

        </thead>

        <tbody>
          {{range .RegistruInventar}}
          <tr>
            <td>
              {{.NrCrt}}
            </td>
            <td>
              <a href="/download-fisier?path={{.CaleCheltuiala}}">{{.DenumireaElemInv}}</a>
            </td>
            <td>
              {{ printf "%.2f" .ValInvRon}}
            </td>
            <td>
              {{.Data}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div class="download">
      <a href="/download-fisier?path={{.CaleRegistruInventarCSV}}">Descarca CSV</a>
    </div>

  </div>


</main>


<script defer src="/plotly-basic-2.14.0.min.js"></script>


<script>

  window.addEventListener("DOMContentLoaded", (event) => {



    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const anul = urlParams.get("anul");

    let selectedYear = document.getElementById("selected-year")

    if (anul) {
      document.getElementById(anul).setAttribute("selected", "")
    }

    selectedYear.addEventListener("click", event => {
      let url = String(document.location).split("?")[0] + selectedYear.value;
      const link = document.createElement('a');
      link.href = url;
      link.click();
    }, false)

    const MONTHS = ['Ianuarie', 'Februarie', 'Martie', 'Aprilie', 'Mai', 'Iunie', 'Iulie', 'August', 'Septembrie', 'Octombrie', 'Noiembrie', 'Decembrie'];
    let incasari = [{{ range .IncasariPeLuni }} {{.}}, {{ end }}];
    let cheltuieli = [{{ range .CheltuieliPeLuni }} {{.}}, {{ end }}];


  let barIncasari = {
    x: MONTHS,
    y: incasari,
    text: incasari.map(it => parseFloat(it).toFixed(2)),
    textposition: 'auto',
    name: 'Incasari',
    type: 'bar'
  };

  let barCheltuieli = {
    x: MONTHS,
    y: cheltuieli,
    text: cheltuieli.map(it => parseFloat(it).toFixed(2)),
    textposition: 'auto',
    name: 'Cheltuieli',
    type: 'bar'
  };

  let firstYear = {{.AniInregistrati }}[0];

  let anGrafic = anul || firstYear;

  if (anGrafic == undefined) {
    anGrafic = "curent";
  }

  let data = [barIncasari, barCheltuieli];
  let layout = {
    title: `Calcul lunar incasari/cheltuieli pentru anul ${anGrafic}`,
    barmode: 'group'
  };

  Plotly.newPlot('incasarivscheltuieli', data, layout);



  let elemsToHide = [
    "total-profit",
    "total-incasari",
    "total-cheltuieli",
    "tabel-incasari",
    "tabel-cheltuieli",
    "tabel-declaratii",
    "tabel-incasari-download",
    "tabel-cheltuieli-download",
    "incasarivscheltuieli"
    //"tabel-declaratii-download",
  ]

  let summary = document.getElementById("total-incasari")
  let extraTables = document.getElementById("total-cheltuieli")

  let showAllReports = true
  document.getElementById("display-reports").addEventListener("change", event => {
    showAllReports = !showAllReports
    if (!showAllReports) {
      elemsToHide.forEach(elId => {
        document.getElementById(elId).classList.add("none")
      })
    } else {
      elemsToHide.forEach(elId => {
        document.getElementById(elId).classList.remove("none")
      })
    }

  }, false)


});



</script>



<script src="/tablefilter/tablefilter.js"></script>


<script data-config>

    let baseFiltersConfig = {
      base_path: 'tablefilter/',
      alternate_rows: true,
      rows_counter: false,
      btn_reset: true,
      loader: true,
      status_bar: false,
      mark_active_columns: true,
      highlight_keywords: true,
      toolbar: true,
    };
  
    let incasariFiltersConfig = {
      col_4: 'select',
    };
  
    let tfIncasari = new TableFilter('date-incasari', { ...baseFiltersConfig, ...incasariFiltersConfig });
    tfIncasari.init();
  
    let cheltuieliFiltersConfig = {
      col_3: 'select',
      col_4: 'select',
      col_5: 'select',
    };
  
    let tfCheltuieli = new TableFilter('date-cheltuieli', { ...baseFiltersConfig, ...cheltuieliFiltersConfig });
    tfCheltuieli.init();
  
  
    let tfdeclaratii = new TableFilter('date-declaratii', baseFiltersConfig);
    tfdeclaratii.init();
  
    let tfregjurnal = new TableFilter('date-registru-jurnal', baseFiltersConfig);
    tfregjurnal.init();
  
    let tfreginv = new TableFilter('date-registru-inventar', baseFiltersConfig);
    tfreginv.init();
  
    let tfregfisc = new TableFilter('date-registru-fiscal', baseFiltersConfig);
    tfregfisc.init();
  
</script>

</body>

</html>