<style>
  #tables>article {
    margin-bottom: 1rem;
    margin-top: 4rem;
    padding: 1rem;
    max-height: 600px;
    overflow: auto;
  }

  .download {
    display: flex;
    gap: 2rem;
    float: right;
  }

  tr td {
    width: 1%;
    white-space: nowrap;
  }

  .bg-whitesmoke {
    background: whitesmoke;
  }
</style>


<main class="container-fluid">

  <hgroup class="container">
    <h1>Registre contabile</h1>
    <h2>
      Vezi registrele contabile generate automat din actiunile facute de tine in aplicatie.
    </h2>
  </hgroup>


  <div id="tables" class="container-fluid">


    <article>
      <h4 style="color: var(--secondary);">Tabel Incasari</h4>
      <table>

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Serie
            </th>
            <th scope="col">
              Numar
            </th>
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Suma Incasata
            </th>
            <th scope="col">
              Download Fisier
            </th>
            <th scope="col">
              Sterge Fisier
            </th>
          </tr>
        </thead>

        <tbody>
          {{range .Incasari}}
          <tr>
            <td>
              {{.Serie}}
            </td>
            <td>
              {{.Numar}}
            </td>
            <td>
              {{.Data}}
            </td>
            <td>
              {{.SumaIncasata}}
            </td>
            <td>
              <a href="/download-factura?path={{.CaleFactura}}">Download</a>
            </td>
            <td>
              <a style="color:var(--del-color);" href="/sterge-factura?path={{.CaleFactura}}">Sterge</a>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div class="download">
      <a href="/#todo">Download CSV</a>
      <a href="/#todo">Download EXCEL</a>
    </div>


    <article>
      <h4 style="color: var(--secondary);">Tabel Cheltuieli</h4>
      <table>

        <thead>
          <tr class="bg-whitesmoke">
            <th scope="col">
              Nume Cheltuiala
            </th>
            <th scope="col">
              Suma Cheltuita
            </th>
            <th scope="col">
              Tip Tranzactie
            </th>
            <th scope="col">
              Data
            </th>
            <th scope="col">
              Obiect Inventar
            </th>
            <th scope="col">
              Mijloc Fix
            </th>
            <th scope="col">
              Cale Cheltuiala
            </th>
            <th scope="col">
              Ani Amortizare
            </th>
            <th scope="col">
              Data Punerii In Functiune
            </th>
            <th scope="col">
              Cod Clasificare
            </th>
            <th scope="col">
              Nr Inventar
            </th>
            <th scope="col">
              Fel Serie Numar Data Document
            </th>
            <th scope="col">
              Valoare Inventar
            </th>
            <th scope="col">
              Amortizare Lunara
            </th>
            <th scope="col">
              Denumire Si Caracteristici
            </th>
            <th scope="col">
              Accesorii
            </th>
            <th scope="col">
              Grupa
            </th>
            <th scope="col">
              Anul Darii In Folosinta
            </th>
            <th scope="col">
              Luna Darii In Folosinta
            </th>
            <th scope="col">
              Anul Amortizarii Complete
            </th>
            <th scope="col">
              Luna Amortizarii Complete
            </th>
            <th scope="col">
              Durata Normala De Functionare
            </th>
            <th scope="col">
              Cota De Amortizare
            </th>
          </tr>
        </thead>

        <tbody>
          {{range .Cheltuieli}}
          <tr>
            <td>
              {{.NumeCheltuiala}}
            </td>
            <td>
              {{.SumaCheltuita}}
            </td>
            <td>
              {{.TipTranzactie}}
            </td>
            <td>
              {{.Data}}
            </td>
            <td>
              {{if .ObiectInventar}}
              Da
              {{else}}
              Nu
              {{end}}
            </td>
            <td>
              {{if .MijlocFix}}
              Da
              {{else}}
              Nu
              {{end}}
            </td>
            <td>
              {{.CaleCheltuiala}}
            </td>
            <td>
              {{.DetaliiMijlocFix.AniAmortizare}}
            </td>
            <td>
              {{.DetaliiMijlocFix.DataPuneriiInFunctiune}}
            </td>
            <td>
              {{.DetaliiMijlocFix.CodClasificare}}
            </td>
            <td>
              {{.DetaliiMijlocFix.NrInventar}}
            </td>
            <td>
              {{.DetaliiMijlocFix.FelSerieNumarDataDocument}}
            </td>
            <td>
              {{.DetaliiMijlocFix.ValoareInventar}}
            </td>
            <td>
              {{.DetaliiMijlocFix.AmortizareLunara}}
            </td>
            <td>
              {{.DetaliiMijlocFix.DenumireSiCaracteristici}}
            </td>
            <td>
              {{.DetaliiMijlocFix.Accesorii}}
            </td>
            <td>
              {{.DetaliiMijlocFix.Grupa}}
            </td>
            <td>
              {{.DetaliiMijlocFix.AnulDariiInFolosinta}}
            </td>
            <td>
              {{.DetaliiMijlocFix.LunaDariiInFolosinta}}
            </td>
            <td>
              {{.DetaliiMijlocFix.AnulAmortizariiComplete}}
            </td>
            <td>
              {{.DetaliiMijlocFix.LunaAmortizariiComplete}}
            </td>
            <td>
              {{.DetaliiMijlocFix.DurataNormalaDeFunctionare}}
            </td>
            <td>
              {{.DetaliiMijlocFix.CotaDeAmortizare}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>

    <div class="download">
      <a href="/#todo">Download CSV</a>
      <a href="/#todo">Download EXCEL</a>
    </div>




    <article>
      <h4 style="color: var(--secondary);">Registru jurnal</h4>
      <table>

        <thead>
          <tr class="bg-whitesmoke">
            <% for (let th of registruJurnal[0]) { %>
              <th scope="col">
                <% th %>
              </th>
              <% } %>
                <th>Download fisier</th>
                <th>Sterge fisier</th>
          </tr>

        </thead>

        <tbody>
          <% for (let tr of registruJurnal.splice(1,)) { %>
            <% if (tr[0]=='-' ) {%>
              <tr class="bg-whitesmoke">
                <%}%>
                  <% if (tr[0] !='-' ) {%>
              <tr>
                <%}%>

                  <% for (let td of tr) { %>
                    <td>
                      <% td %>
                    </td>
                    <% } %>

                      <% if (tr[2].startsWith("../ANAF")) { %>

                        <td>
                          <form action="/download-fisier" method="POST" style="margin:0;">
                            <input type="hidden" name="filePath" value="<% tr[2] %>">
                            <button
                              style="margin:0;text-align:left;background:lightgreen;height:40px;width:40px;padding:0;border:none;"
                              type="submit">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                              </svg>
                            </button>
                          </form>
                        </td>

                        <td>
                          <form action="/sterge-fisier" method="POST" style="margin:0;">
                            <input type="hidden" name="filePath" value="<% tr[2] %>">
                            <button
                              style="margin:0;text-align:left;background:indianred;height:40px;width:40px;padding:0;border:none;"
                              type="submit">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                              </svg>
                            </button>
                          </form>
                        </td>

                        <% } %>

              </tr>
              <% } %>
        </tbody>
      </table>


    </article>

    <div class="download">
      <a href="/download-registru-csv/jurnal">Download CSV</a>
      <a href="/download-registru-xlsx/jurnal">Download EXCEL</a>
    </div>



    <article>
      <h4 style="color: var(--secondary);">Registru inventar</h4>
      <table>

        <thead>
          <tr class="bg-whitesmoke">
            <% for (let th of registruInventar[0]) { %>
              <th scope="col">
                <% th %>
              </th>
              <% } %>
          </tr>

        </thead>

        <tbody>
          <% for (let tr of registruInventar.splice(1,)) { %>
            <tr>
              <% for (let td of tr) { %>
                <td>
                  <% td %>
                </td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
      </table>
    </article>

    <div class="download">
      <a href="/download-registru-csv/inventar">Download CSV</a>
      <a href="/download-registru-xlsx/inventar">Download EXCEL</a>
    </div>




    <article>
      <h4 style="color: var(--secondary);">Registru fiscal</h4>
      <table>

        <thead>
          <tr class="bg-whitesmoke">
            <% for (let th of registruFiscal[0]) { %>
              <th scope="col">
                <% th %>
              </th>
              <% } %>
          </tr>

        </thead>

        <tbody>
          <% for (let tr of registruFiscal.splice(1,)) { %>
            <tr>
              <% for (let td of tr) { %>
                <td>
                  <% td %>
                </td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
      </table>
    </article>

    <div class="download">
      <a href="/download-registru-csv/fiscal">Download CSV</a>
      <a href="/download-registru-xlsx/fiscal">Download EXCEL</a>
    </div>


  </div>


</main>

</body>

</html>