<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/print.css">
    <script src="/print.js"></script>
    <title>Tabel Incasari {{.Anul}}</title>
</head>

<body id="container">

    <main class="container-fluid">

        <section class="genereaza-pdf">
            <a href="#" id="print">GENEREAZA PDF</a>
        </section>

        <div id="tabel-incasari">
            <h4 style="color: var(--secondary);">Tabel Incasari {{.Anul}}</h4>
            <table id="date-incasari">

                <thead>
                    <tr class="bg-whitesmoke">
                        <th scope="col">
                            Data
                        </th>
                        <th scope="col">
                            Sursa venit
                        </th>
                        <th scope="col">
                            Serie
                        </th>
                        <th scope="col">
                            Numar
                        </th>
                        <th scope="col">
                            Suma Incasata
                        </th>
                        <th scope="col">
                            Tip Tranzactie
                        </th>
                        <th scope="col">
                            Cale Fisier
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {{range .Incasari}}
                    <tr>
                        <td>
                            {{.Data}}
                        </td>
                        <td>
                            {{.SursaVenit}}
                        </td>
                        <td>
                            {{if .Serie}}
                            {{.Serie}}
                            {{else}}
                            -
                            {{end}}
                        </td>
                        <td>
                            {{if .Numar}}
                            {{.Numar}}
                            {{else}}
                            -
                            {{end}}
                        </td>
                        <td>
                            {{ printf "%.2f" .SumaIncasata}}
                        </td>
                        <td>
                            {{.TipTranzactie}}
                        </td>
                        <td>
                            {{.CaleIncasare}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

    </main>

</body>

</html>