<main class="container-fluid">

    <hgroup class="container">
        <h1>Actualizeaza aplicatia</h1>
        <h2>
            Verifica daca a mai aparut o versiune noua a aplicatiei.
            O data pe an e suficient.
        </h2>
    </hgroup>

    <form class="container">

        <article>
            <h5 style="color: var(--secondary);">
                <span class="{{ .VersionColor }}">
                    Versiune curenta: {{.VersiuneAplicatie}}
                </span>
                <br>
                <span class="{{ .VersionColor }}">
                    Ultima versiune disponibila: {{.UltimaVersiuneAplicatie}}
                </span>
            </h5>

            {{if .UpdateNeeded}}
            <p>
                Click pe button si descarca ultima versiune din github.
                Odata descarcat extrage zip-ul si copie folderul `stocare` din aplicatia currenta in noua versiune.
                In folderul `stocare` sunt toate datele tale salvate.
            </p>

            <a href="https://github.com/ClimenteA/PFASimplu/releases" target="_blank" role="button"
                class="float-right">
                DESCARCA ULTIMA VERSIUNE
            </a>

            {{else}}
            <button disabled type="submit">APLICATIA ESTE ACTUALIZATA</button>
            {{ end }}

        </article>

    </form>


</main>