<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media print {
            @page {
                margin: 0;
            }

            body {
                margin: 0;
            }
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f9f9f9;
            padding: 20px;
        }

        .container-fluid {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 20px;
        }

        h3 {
            color: #007bff;
            border-bottom: 2px solid #007bff;
            padding-bottom: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .text-bold {
            font-weight: bold;
        }

        p {
            margin: 0 0 10px;
        }

        .font-12 {
            font-size: 12px;
        }

        .underline {
            text-decoration: underline;
        }
    </style>
    <title>Factura/Invoice</title>
</head>

<body class="container-fluid">

    <div class="grid">

        {% if tip_factura == "e-factura" %}
        <h3 style="margin-top: 1rem;">FACTURA</h3>
        {% endif %}

        {% if tip_factura == "factura-romana" %}
        <h3 style="margin-top: 1rem;">FACTURA</h3>
        {% endif %}

        {% if tip_factura == "factura-engleza" %}
        <h3 style="margin-top: 1rem;">FACTURA/INVOICE</h3>
        {% endif %}

        {% if tip_factura == "factura-franceza" %}
        <h3 style="margin-top: 1rem;">FACTURA/FACTURE</h3>
        {% endif %}

        {% if tip_factura == "factura-germana" %}
        <h3 style="margin-top: 1rem;">FACTURA/RECHNUNG</h3>
        {% endif %}

        {% if tip_factura == "factura-spaniola" %}
        <h3 style="margin-top: 1rem;">FACTURA</h3>
        {% endif %}


        <table class="font-12">
            <thead>
                <tr>

                    {% if tip_factura == "e-factura" %}
                    <th>Serie</th>
                    <th>Numar</th>
                    <th>Data factura</th>
                    <th>Data scadenta</th>
                    {% endif %}

                    {% if tip_factura == "factura-romana" %}
                    <th>Serie</th>
                    <th>Numar</th>
                    <th>Data factura</th>
                    <th>Data scadenta</th>
                    {% endif %}

                    {% if tip_factura == "factura-engleza" %}
                    <th>Serie/Series</th>
                    <th>Numar/Number</th>
                    <th>Data factura/Invoice Date</th>
                    <th>Data scadenta/Due Date</th>
                    {% endif %}

                    {% if tip_factura == "factura-franceza" %}
                    <th>Serie/Série</th>
                    <th>Numar/Numéro</th>
                    <th>Data factura/Date de facture</th>
                    <th>Data scadenta/Date d'échéance</th>
                    {% endif %}

                    {% if tip_factura == "factura-germana" %}
                    <th>Serie/Serie</th>
                    <th>Numar/Nummer</th>
                    <th>Data factura/Rechnungsdatum</th>
                    <th>Data scadenta/Fälligkeitsdatum</th>
                    {% endif %}

                    {% if tip_factura == "factura-spaniola" %}
                    <th>Serie/Serie</th>
                    <th>Numar/Número</th>
                    <th>Data factura/Fecha de factura</th>
                    <th>Data scadenta/Fecha de vencimiento</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="background-color: white; font-weight: normal;">{{ serie }}</th>
                    <td>{{ numar }}</td>
                    <td>{{ data_emitere }}</td>
                    <td>{{ data_scadenta }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <main>
        <div>
            {% if tip_factura == "e-factura" %}
            <p class="underline">Date furnizor si client:</p>
            {% endif %}

            {% if tip_factura == "factura-romana" %}
            <p class="underline">Date furnizor si client:</p>
            {% endif %}

            {% if tip_factura == "factura-engleza" %}
            <p class="underline">Date furnizor si client/Supplier and client data</p>
            {% endif %}

            {% if tip_factura == "factura-franceza" %}
            <p class="underline">Date furnizor si client/Données fournisseur et client</p>
            {% endif %}

            {% if tip_factura == "factura-germana" %}
            <p class="underline">Date furnizor si client:/Lieferanten- und Kundendaten</p>
            {% endif %}

            {% if tip_factura == "factura-spaniola" %}
            <p class="underline">Date furnizor si client:/Datos del proveedor y del cliente</p>
            {% endif %}

            <table class="font-12">
                <thead>
                    <tr>

                        {% if tip_factura == "e-factura" %}
                        <th>Detalii</th>
                        <th>Furnizor</th>
                        <th>Client</th>
                        {% endif %}

                        {% if tip_factura == "factura-romana" %}
                        <th>Detalii</th>
                        <th>Furnizor</th>
                        <th>Client</th>
                        {% endif %}

                        {% if tip_factura == "factura-engleza" %}
                        <th>Detalii/Details</th>
                        <th>Furnizor/Supplier</th>
                        <th>Client/Client</th>
                        {% endif %}

                        {% if tip_factura == "factura-franceza" %}
                        <th>Detalii/Détails</th>
                        <th>Furnizor/Fournisseur</th>
                        <th>Client/Client</th>
                        {% endif %}

                        {% if tip_factura == "factura-germana" %}
                        <th>Detalii/Details</th>
                        <th>Furnizor/Lieferant</th>
                        <th>Client/Kunde</th>
                        {% endif %}

                        {% if tip_factura == "factura-spaniola" %}
                        <th>Detalii/Detalles</th>
                        <th>Furnizor/Proveedor</th>
                        <th>Client/Cliente</th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody>

                    <tr>

                        {% if tip_factura == "e-factura" %}
                        <td class="text-bold">Nume</td>
                        {% endif %}

                        {% if tip_factura == "factura-romana" %}
                        <td class="text-bold">Nume</td>
                        {% endif %}

                        {% if tip_factura == "factura-engleza" %}
                        <td class="text-bold">Nume/Name</td>
                        {% endif %}

                        {% if tip_factura == "factura-franceza" %}
                        <td class="text-bold">Nume/Nom</td>
                        {% endif %}

                        {% if tip_factura == "factura-germana" %}
                        <td class="text-bold">Nume/Name</td>
                        {% endif %}

                        {% if tip_factura == "factura-spaniola" %}
                        <td class="text-bold">Nume/Nombre</td>
                        {% endif %}

                        <td>{{ nume_furnizor }}</td>
                        <td>{{ nume_client }}</td>
                    </tr>

                    <tr>
                        <td class="text-bold">Nr.Reg.Com.</td>
                        <td>{{ nr_reg_com_furnizor }}</td>
                        <td>{{ nr_reg_com_client }}</td>
                    </tr>

                    <tr>
                        <td class="text-bold">CUI/CIF/VAT</td>
                        <td>{{ cif_furnizor }}</td>
                        <td>{{ cif_client }}</td>
                    </tr>

                    <tr>
                        {% if tip_factura == "e-factura" %}
                        <td class="text-bold">Adresa</td>
                        {% endif %}

                        {% if tip_factura == "factura-romana" %}
                        <td class="text-bold">Adresa</td>
                        {% endif %}

                        {% if tip_factura == "factura-engleza" %}
                        <td class="text-bold">Adresa/Address</td>
                        {% endif %}

                        {% if tip_factura == "factura-franceza" %}
                        <td class="text-bold">Adresa/Adresse</td>
                        {% endif %}

                        {% if tip_factura == "factura-germana" %}
                        <td class="text-bold">Adresa/Adresse</td>
                        {% endif %}

                        {% if tip_factura == "factura-spaniola" %}
                        <td class="text-bold">Adresa/Dirección</td>
                        {% endif %}

                        <td>{{ adresa_furnizor }}</td>
                        <td>{{ adresa_client }}</td>
                    </tr>

                    <tr>
                        <td class="text-bold">Email</td>
                        <td>{{ email_furnizor }}</td>
                        <td>{{ email_client }}</td>
                    </tr>

                    <tr>
                        {% if tip_factura == "e-factura" %}
                        <td class="text-bold">Telefon</td>
                        {% endif %}

                        {% if tip_factura == "factura-romana" %}
                        <td class="text-bold">Telefon</td>
                        {% endif %}

                        {% if tip_factura == "factura-engleza" %}
                        <td class="text-bold">Telefon/Phone</td>
                        {% endif %}

                        {% if tip_factura == "factura-franceza" %}
                        <td class="text-bold">Telefon/Téléphone</td>
                        {% endif %}

                        {% if tip_factura == "factura-germana" %}
                        <td class="text-bold">Telefon</td>
                        {% endif %}

                        {% if tip_factura == "factura-spaniola" %}
                        <td class="text-bold">Telefon/Teléfono</td>
                        {% endif %}

                        <td>{{ telefon_furnizor }}</td>
                        <td>{{ telefon_client }}</td>
                    </tr>

                    <tr>
                        <td class="text-bold">IBAN</td>
                        <td>{{ iban_furnizor }}</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top: 2rem;">

            {% if tip_factura == "e-factura" %}
            <p class="underline">Date produse sau servicii</p>
            {% endif %}

            {% if tip_factura == "factura-romana" %}
            <p class="underline">Date produse sau servicii</p>
            {% endif %}

            {% if tip_factura == "factura-engleza" %}
            <p class="underline">Date produse sau servicii/Product or Service Data</p>
            {% endif %}

            {% if tip_factura == "factura-franceza" %}
            <p class="underline">Date produse sau servicii/Données de produit ou de service</p>
            {% endif %}

            {% if tip_factura == "factura-germana" %}
            <p class="underline">Date produse sau servicii/Produkt- oder Servicedaten</p>
            {% endif %}

            {% if tip_factura == "factura-spaniola" %}
            <p class="underline">Date produse sau servicii/Datos de productos o servicios</p>
            {% endif %}

            <table class="font-12">
                <thead>
                    <tr>
                        {% if tip_factura == "e-factura" %}
                        <th>Nr.Crt.</th>
                        <th>Denumire produse sau servicii</th>
                        <th>U.M.</th>
                        <th>Cantitate</th>
                        <th>Pret unitar <br> fara T.V.A.</th>
                        <th>Valoarea ({{ valuta }})</th>
                        {% endif %}

                        {% if tip_factura == "factura-romana" %}
                        <th>Nr.Crt.</th>
                        <th>Denumire produse sau servicii</th>
                        <th>U.M.</th>
                        <th>Cantitate</th>
                        <th>Pret unitar <br> fara T.V.A.</th>
                        <th>Valoarea ({{ valuta }})</th>
                        {% endif %}

                        {% if tip_factura == "factura-engleza" %}
                        <th>Nr.Crt./No.</th>
                        <th>Denumire produse sau servicii/Name of products or services</th>
                        <th>U.M./Unit</th>
                        <th>Cantitate/Quantity</th>
                        <th>Pret unitar fara T.V.A./Unit price without VAT</th>
                        <th>Valoarea ({{ valuta }})/Value ({{ valuta }})</th>
                        {% endif %}

                        {% if tip_factura == "factura-franceza" %}
                        <th>Nr.Crt./No.</th>
                        <th>Denumire produse sau servicii/Nom des produits ou services</th>
                        <th>U.M./Unité</th>
                        <th>Cantitate/Quantité</th>
                        <th>Pret unitar fara T.V.A./Prix unitaire hors TVA</th>
                        <th>Valoarea ({{ valuta }})/Valeur ({{ valuta }})</th>
                        {% endif %}

                        {% if tip_factura == "factura-germana" %}
                        <th>Nr.Crt./Nr.</th>
                        <th>Denumire produse sau servicii/Name der Produkte oder Dienstleistungen</th>
                        <th>U.M./Einheit</th>
                        <th>Cantitate/Menge</th>
                        <th>Pret unitar fara T.V.A./Stückpreis ohne MwSt.</th>
                        <th>Valoarea ({{ valuta }})/Wert ({{ valuta }})</th>
                        {% endif %}

                        {% if tip_factura == "factura-spaniola" %}
                        <th>Nr.Crt./No.</th>
                        <th>Denumire produse sau servicii/Nombre de productos o servicios</th>
                        <th>U.M./Unidad</th>
                        <th>Cantitate/Cantidad</th>
                        <th>Pret unitar fara T.V.A./Precio unitario sin IVA</th>
                        <th>Valoarea ({{ valuta }})/Valor ({{ valuta }})</th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody>
                    {% for item in produse_sau_servicii %}
                    <tr>
                        <td>{{ item.id }}.</td>
                        <td>{{ item.nume_produs_sau_serviciu|title }}</td>
                        <td>{{ item.cod_unitate }}</td>
                        <td>{{ item.numar_unitati }}</td>
                        <td>{{ item.pret_pe_unitate }}</td>
                        <td>{{ item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <div style="display: flex; justify-content: end; margin-top: 4rem; margin-bottom: 4rem;">
        <p class="underline">
            {% if tip_factura == "e-factura" %}
            <span>Total de plata:</span>
            {% endif %}

            {% if tip_factura == "factura-romana" %}
            <span>Total de plata:</span>
            {% endif %}

            {% if tip_factura == "factura-engleza" %}
            <span>Total de plata/Total amount:</span>
            {% endif %}

            {% if tip_factura == "factura-franceza" %}
            <span>Total de plata/Total à payer:</span>
            {% endif %}

            {% if tip_factura == "factura-germana" %}
            <span>Total de plata/Gesamt zu zahlen:</span>
            {% endif %}

            {% if tip_factura == "factura-spaniola" %}
            <span>Total de plata/Total a pagar:</span>
            {% endif %}

            <strong>{{ total_de_plata }} {{ valuta }}</strong>
        </p>
    </div>

    <p style="margin-bottom: 2rem;">{{ nota }}</p>

</body>

</html>