<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media print {
            @page {
                margin: 0;
            }

            body {
                margin: 0;
            }
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f9f9f9;
            padding: 20px;
        }

        .container-fluid {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 20px;
        }

        h3 {
            color: #007bff;
            border-bottom: 2px solid #007bff;
            padding-bottom: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid black;
            text-align: left;
        }

        th {
            background-color: white;
        }

        .text-bold {
            font-weight: bold;
        }

        p {
            margin: 0 0 10px;
        }

        .font-12 {
            font-size: 12px;
        }

        .underline {
            text-decoration: underline;
        }

        .border-bottom {
            border-bottom: 1px solid black;
        }
    </style>
    <title>Fisa mijloc fix</title>
</head>

<body class="container-fluid">

    <div style="display: grid; grid-template-columns: 1fr 1fr; font-size: 12px;">
        <div style="border: 1px solid black; padding: 20px;">
            <p class="text-bold" style="text-align: center; color: #18497d;">FIŞA MIJLOCULUI FIX</p>

            <p>Nr. Inventar: <span class="underline">{{ numar_inventar }}</span></p>

            <p class="border-bottom">
                Fel, serie, nr. data document provenienţă: <br>
                <span>{{ fel_document }}</span>
            </p>

            <p class="border-bottom">
                Valoare de inventar: <br>
                <span>{{ valoare_inventar }}</span>
            </p>

            <p class="border-bottom">
                Amortizare lunară: <br>
                <span>{{ amortizare_lunara }}</span>
            </p>

            <p class="border-bottom">
                Denumirea mijlocului fix şi caracteristici tehnice: <br>
                <span>{{ denumire_si_caracteristici_tehnice }}</span>
            </p>

            <p class="border-bottom">
                Accesorii: <br>
                <span>{{ accesorii }}</span>
            </p>

        </div>

        <div style="border: 1px solid black; padding: 20px; border-left: 0px;">
            <p class="border-bottom">
                Grupa: <span>{{ grupa }}</span>
            </p>

            <p class="border-bottom">
                Codul de clasificare: <span>{{ cod_de_clasificare }}</span>
            </p>

            <div class="border-bottom">
                <p>Data dării în folosinţă:</p>

                <p>
                    Anul <span>{{ anul_darii_in_folosinta }}</span>
                </p>

                <p>
                    Luna <span>{{ luna_darii_in_folosinta }}</span>
                </p>
            </div>

            <div class="border-bottom">
                <p>Data amortizării complete:</p>

                <p>
                    Anul <span>{{ anul_amortizarii_complete }}</span>
                </p>

                <p>
                    Luna <span>{{ luna_amortizarii_complete }}</span>
                </p>

            </div>

            <p class="border-bottom">
                Durata normală de funcţionare: <br>
                <span>{{ durata_normala_de_functionare }}</span>
            </p>

            <p>
                Cota de amortizare: <span>{{ cota_de_amortizare }} %</span>
            </p>

        </div>
    </div>

    <p style="float: right; color: gray; font-size: 12px;">14.2.2</p>

    <div style="margin-top: 150px;">
        <p style="float: right; color: gray; font-size: 12px; font-style: italic;">(verso)</p>
        <table style="font-size: 12px;">
            <thead>
                <tr>
                    <th>Nr. <br>
                        inventar <br>
                        (de la <br>
                        număr la <br>
                        număr)
                    </th>
                    <th>
                        Documentul <br>
                        (data, <br>
                        felul, <br>
                        numărul)
                    </th>
                    <th>
                        Operaţiunile care privesc <br>
                        mişcarea, creşterea sau <br>
                        diminuarea valorii mijlocului <br>
                        fix
                    </th>
                    <th>Buc.</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Sold</th>
                    <th>
                        Soldul <br>
                        contului <br>
                        105 <br>
                        "Rezerve din <br>
                        reevaluare"
                    </th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>