{% extends "base.html" %}

{% block page-title %} Setari {% endblock %}


{% block body %}


<hgroup class="title-description container">
    <h1>⚙️ Setari</h1>
    <p>
        Aici poti modifica variabilele care stau la baza calculelor pentru
        impozite, taxe, crearea de declaratii, facturi samd.
        In pagina asta trebuie sa introduci datele PFA-ului tau (nume, CIF etc.).
        Sunt scutite de la plata taxe/impozite (pensionari, persoane cu handicap, alte persoane cu statut special) 
        bifeaza casuta corespunzatoare pentru a calcula corect darile la stat.
        Ai si optiunea de a adauga CAEN-uri secondare.
        Ai disponibile si 3 butoane sub formular care te pot ajuta sa importi datele din versiunea 1 sau versiunea 2.

        Pentru import din versiunea 1 copie folderul stocare langa executabilul pfasimplu.exe si apasa din butonul Importa date din v1.
        
        Pentru import din versiunea 2 copie noua aplicatie din <a href="https://github.com/ClimenteA/PFASimplu/releases">Github Releases</a> 
        tot timpul ultimul release din Assets pentru sistemul tau de operare (Windows 10, Windows 11 sau Ubuntu).
        Odata facut ce ai facut unzip la noua aplicatie din versiunea veche a aplicatiei da click pe butonul Exporta datele din applicatie.
        Un zip se va crea in folderul Descarcari (Downloads). Acum la fel ca pentru importul v1 avem nevoie de folderul stocare langa executabilul pfasimplu.exe. 
        Fa unzip la zipul creat langa executabilul nou pfasimplu.exe si apasa din aplicatia noua butonul Importa date din v2.

        Butonul "Sterge toate datele" va sterge toate datele din aplicatie.
        <strong>Atentie!</strong> odata ce ai apasat pe butonul "Sterge toate datele"
        datele vor fi sterse imediat!
    </p>
</hgroup>


<article class="article-form mt-4 container">

    <form action="{% url 'setari' %}" method="POST">
        {% csrf_token %}

        <p class="text-bold">Datele PFA-ului tau:</p>

        <div class="grid">
            <label for="{{ setari_form.nume.id_for_label }}">
                {{ setari_form.nume.label }}:
                {{ setari_form.nume }}
                {{ setari_form.nume.errors }}
            </label>

            <div class="grid">
                <label for="{{ setari_form.cif.id_for_label }}">
                    CIF:
                    {{ setari_form.cif }}
                    {{ setari_form.cif.errors }}
                </label>

                <label for="{{ setari_form.nr_reg_com.id_for_label }}">
                    Nr.Reg.Com.:
                    {{ setari_form.nr_reg_com }}
                    {{ setari_form.nr_reg_com.errors }}
                </label>
            </div>
        </div>

        <div class="grid">

            <div x-data="{
                localitati: {{ lista_localitati }},
            }" x-init="typeahead({
                input: $refs.searchInputEl,
                source: { local: localitati }
            });">
                <label>
                    Alege localitatea:
                    <input name="localitate" {% if setari_form.localitate.value %}
                        value="{{setari_form.localitate.value}}" {% endif %} x-ref="searchInputEl" autocomplete="off"
                        type="text" placeholder="Iasi...">
                    {{ setari_form.localitate.errors }}
                </label>
            </div>

            <label for="{{ setari_form.adresa.id_for_label }}">
                {{ setari_form.adresa.label }}:
                {{ setari_form.adresa }}
                {{ setari_form.adresa.errors }}
            </label>
        </div>

        <div class="grid">
            <label for="{{ setari_form.telefon.id_for_label }}">
                {{ setari_form.telefon.label }}:
                {{ setari_form.telefon }}
                {{ setari_form.telefon.errors }}
            </label>

            <label for="{{ setari_form.email.id_for_label }}">
                {{ setari_form.email.label }}:
                {{ setari_form.email }}
                {{ setari_form.email.errors }}
            </label>
        </div>

        <div class="grid">

            <label for="{{ setari_form.iban.id_for_label }}">
                IBAN:
                {{ setari_form.iban }}
                {{ setari_form.iban.errors }}
            </label>

            <label for="{{ setari_form.caen_principal.id_for_label }}">
                Cod CAEN Principal:
                {{ setari_form.caen_principal }}
                {{ setari_form.caen_principal.errors }}
            </label>
        </div>

        <div style="margin-bottom: 2rem;">
            <div style="display: flex; gap: 1rem; justify-content: end;">

                <label for="{{ setari_form.scutit_cas.id_for_label }}">
                    {{ setari_form.scutit_cas.label }}:
                    {{ setari_form.scutit_cas }}
                    {{ setari_form.scutit_cas.errors }}
                </label>

                <label for="{{ setari_form.scutit_cass.id_for_label }}">
                    {{ setari_form.scutit_cass.label }}:
                    {{ setari_form.scutit_cass }}
                    {{ setari_form.scutit_cass.errors }}
                </label>

                <label for="{{ setari_form.scutit_impozit.id_for_label }}">
                    {{ setari_form.scutit_impozit.label }}:
                    {{ setari_form.scutit_impozit }}
                    {{ setari_form.scutit_impozit.errors }}
                </label>
            </div>
        </div>


        <div x-data="{show: {% if setari_form.caen_secondar_1.value %} true {% else %} false {% endif %} }">

            <button @click="show = !show" type="button" class="outline secondary">
                <i :class="show ? 'bi bi-dash-lg': 'bi bi-plus-lg'"></i> Adauga CAEN-uri Secundare
            </button>

            <div x-show="show" class="grid mt-2">

                <label for="{{ setari_form.caen_secondar_1.id_for_label }}">
                    CAEN 1:
                    {{ setari_form.caen_secondar_1 }}
                    {{ setari_form.caen_secondar_1.errors }}
                </label>

                <label for="{{ setari_form.caen_secondar_2.id_for_label }}">
                    CAEN 2:
                    {{ setari_form.caen_secondar_2 }}
                    {{ setari_form.caen_secondar_2.errors }}
                </label>

                <label for="{{ setari_form.caen_secondar_3.id_for_label }}">
                    CAEN 3:
                    {{ setari_form.caen_secondar_3 }}
                    {{ setari_form.caen_secondar_3.errors }}
                </label>

                <label for="{{ setari_form.caen_secondar_4.id_for_label }}">
                    CAEN 4:
                    {{ setari_form.caen_secondar_4 }}
                    {{ setari_form.caen_secondar_4.errors }}
                </label>

                <label for="{{ setari_form.caen_secondar_5.id_for_label }}">
                    CAEN 5:
                    {{ setari_form.caen_secondar_5 }}
                    {{ setari_form.caen_secondar_5.errors }}
                </label>
            </div>

        </div>

        <div class="mt-2">
            <button type="submit">
                <i class="bi bi-save"></i> Salveaza datele PFA
            </button>
        </div>
    </form>
</article>

<div class="grid container" style="margin-top: 6rem;">

    <form x-data="{downloading: false}" action="{% url 'download-data' %}" method="post">
        {% csrf_token %}
        <button @click="downloading = true;"
            x-text="downloading ? 'Vezi folderul descarcari': 'Exporta datele din applicatie';" class="secondary"
            type="submit">
        </button>
    </form>

    <form x-data="{importingv2: false}" action="{% url 'setari-import-v2' %}" method="post">
        {% csrf_token %}
        <button @click="importingv2 = true;" x-text="importingv2 ? 'Datele se adauga...': 'Importa date din v2';"
            class="secondary" type="submit">
        </button>
    </form>

    <form x-data="{importing: false}" action="{% url 'setari-import-v1' %}" method="post">
        {% csrf_token %}
        <button @click="importing = true;" x-text="importing ? 'Datele se adauga...': 'Importa date din v1';"
            class="secondary" type="submit">
        </button>
    </form>

    <form x-data="{deleting: false}" action="{% url 'setari-drop-data' %}" method="post">
        {% csrf_token %}
        <button @click="deleting = true;" x-text="deleting ? 'Datele se sterg...': 'Sterge toate datele';"
            class="pico-background-red-550" type="submit">
        </button>
    </form>

</div>


{% endblock %}